.popup {
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 40%;
    height: 65vh;
    border: 2px solid white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-header {
    font-size: 34px;
}

.popup-main {
    font-size: 20px;
    text-align: center;
}

.popup-footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.popup-footer__button {
    width: 25%;
    height: 4vh;
    color: white;
    border: 1px solid white;
    background-color: mediumpurple;
}