* {
    padding: 0;
    margin: 0;
    font-family: "Itim", cursive;
}

.background {
    background-color: #12181b;
    height: 100vh;
    padding-top: 1px;
}

.status {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 5px;
}

.board {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 100px);
    max-width: 600px;
}

.cell {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.Tikki {
    background: no-repeat center/60% url("../img/Tikki.png");
}

#reset {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
    background-color: #ff3860;
}

.control {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.achievements {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

.score span {
    margin: 0 10px;
}

.finish {
    background: no-repeat center/70% url("../img/tower.png");
}

.amulet {
    background: no-repeat center/40% url("../img/amulet.png");
}

.Akuma {
    background: no-repeat center/60% url("../img/Akuma.png") !important;
}

.LadyBug {
    background: no-repeat center/60% url("../img/marinette.png");
}
